{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nebulosa</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/magicsuggest-min.css" %}" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <input type="text" placeholder="Enter a concept here." id="query" />
        <canvas id="springydemo" width="640" height="480"></canvas>
        <div id="last_articles"></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/magicsuggest.js" %}"></script>
    <script src="{% static "js/springy.js" %}"></script>
    <script src="{% static "js/springyui.js" %}"></script>
    <script src="{% static "js/nebu.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
  </body>
</html>
